/*div{
    border: 1px solid red;
    width: 100%;
}*/

.card {
    border-radius: 15px;
}

.form-control:focus {
    border-color: #ffffff;
    box-shadow: 0 0 0 0.25rem rgba(255, 255, 255, 0.25);
}

label {
    font-weight: 500;
}