<main>
    <div class="container mt-2 text-white">
        <p>about works!</p>
        <h2 class="text-center mb-2">Resumo</h2>
        <p class="text-center mb-2 lead">
            Desenvolvedor Full Stack, cursando Engenharia da Computação. 
            Experiência em projetos pessoais utilizando HTML, CSS, JavaScript, 
            Java, Angular e Bootstrap. Focado em desenvolvimento full stack, 
            busco aplicar meus conhecimentos em um ambiente profissional e contribuir em soluções práticas e eficientes.
        </p>
    </div>
</main>