main .tutorials .tutorialsimg {
    width: 40%;
    padding: 3%;
}

footer {
    flex: 1 1 100vw;
    height: 100px;/*altura fixa */
}

footer .foot {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1 1 100vw;
}

a {
    text-decoration: none;
    color: inherit;
}
