<header>
        <div id="logo">
            <!--<img src="./images/Pirex.png" alt="" srcset="">-->
            <a href="https://wa.me/5555991124503?text=Olá" target="_blank"><img
                    src="./images/icons/Platform=WhatsApp, Color=Negative.png" alt=""></a>
            <a href="https://github.com/andrewpir" target="_blank"><img
                    src="./images/icons/Platform=Github, Color=Negative.png" alt=""></a>
            <a href="https://www.linkedin.com/in/andrew-almeida-86b31991/" target="_blank"><img
                    src="./images/icons/Platform=LinkedIn, Color=Negative.png" alt=""></a>
            <a href="https://discord.gg/rjhJj24T6X" target="_blank"><img
                    src="./images/icons/Platform=Discord, Color=Negative.png" alt=""></a>
        </div>

        <nav id="menu">
            <a routerLink="/">Inicio</a>
            <a routerLink="/projects">Projetos</a>
            <a routerLink="/about">Sobre</a>
            <a routerLink="/contact">Contato</a>
            <!--<a href="#">Inicio</a>
            <a href="#">Projetos</a>
            <a href="#">Sobre</a>
            <a href="#">Contato</a>-->

        </nav><!--Menu-->
</header>