<main>
    <div class="container mt-2 text-white">
        <h2 class="text-center mb-2">Portfólio</h2>
            <p class="text-center mb-3">Abaixo estão os diversos projetos que participei e produzi, </p>
        <ul class="nav nav-pills justify-content-center mb-3">
            <!--<li class="nav-item">
                <a class="nav-link" routerLink="destaques" routerLinkActive="active">Destaques</a>
            </li>-->
            <li class="nav-item">
                <a class="nav-link" routerLink="pessoais" routerLinkActive="active">Meus Projetos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="equipe" routerLinkActive="active">Equipe / Participações</a>
            </li>
        </ul>

        <div class="border-top pt-2">
            <router-outlet></router-outlet>
        </div>
    </div>
</main>